<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_105_1_5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{107,117}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{107,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,111},{107,117}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{107,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{107,117}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{107,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{107,117}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{107,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,220},{105,117}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,12},{105,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,117}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{107,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_105_1_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:692a7208f390bfc3f35ff16fc508e5e1$</string>
            <key>textureFileName</key>
            <string>npc_105_1_5.png</string>
        </dict>
    </dict>
</plist>
