<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_105_1_4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{103,117}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,12},{103,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{103,117}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,12},{103,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,212},{103,115}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{103,115}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{103,115}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{103,115}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,107},{103,115}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{103,115}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_105_1_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,117}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,12},{103,117}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_105_1_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f08afc2e6153f23c7bc8eea2d99cfcd6$</string>
            <key>textureFileName</key>
            <string>npc_105_1_4.png</string>
        </dict>
    </dict>
</plist>
