<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_102_1_4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{133,111}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{133,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_102_1_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,272},{133,109}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{133,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_102_1_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{133,109}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{133,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_102_1_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{133,109}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{133,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_102_1_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{133,111}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{133,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_102_1_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,111}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{133,111}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_102_1_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e307d75d158c601f17faa70b412082d8$</string>
            <key>textureFileName</key>
            <string>npc_102_1_4.png</string>
        </dict>
    </dict>
</plist>
