<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_101_1_4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,264},{129,121}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,36},{129,121}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_101_1_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{129,121}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,36},{129,121}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_101_1_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,133},{129,121}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,36},{129,121}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_101_1_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{129,121}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{129,121}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_101_1_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{129,121}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,36},{129,121}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>npc_101_1_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,121}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{129,121}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc_101_1_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a88817576af6e4a17b635781fc443d9$</string>
            <key>textureFileName</key>
            <string>npc_101_1_4.png</string>
        </dict>
    </dict>
</plist>
