<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addh-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,270},{32,81}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,83},{32,81}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,537},{52,81}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,80},{52,81}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{62,85}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,77},{62,85}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,657},{62,89}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,74},{62,89}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,616},{62,93}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,71},{62,93}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,616},{62,97}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,68},{62,97}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,580},{62,101}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,64},{62,101}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,550},{64,105}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,61},{64,105}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{64,107}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,59},{64,107}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,514},{64,111}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,56},{64,111}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,542},{64,113}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{64,113}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,484},{64,119}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,49},{64,119}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{64,121}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,47},{64,121}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,448},{64,123}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,45},{64,123}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,413},{64,127}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,42},{64,127}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,336},{66,131}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,39},{66,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,143},{66,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{66,135}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,138},{66,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,32},{66,139}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{66,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,30},{66,141}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,72},{68,143}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,28},{68,143}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,70},{66,147}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,25},{66,147}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{66,151}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,21},{66,151}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{68,153}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,19},{68,153}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{68,155}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{68,155}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,157}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,16},{66,157}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{66,131}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{66,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{64,133}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,40},{64,133}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,270},{64,133}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,38},{64,133}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,248},{64,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{64,133}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{64,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{64,133}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,382},{64,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{64,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{62,129}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{62,129}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,314},{66,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,38},{66,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,280},{66,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{66,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,142},{64,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{64,135}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,206},{62,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{62,135}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,444},{38,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,39},{38,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,404},{38,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,39},{38,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,404},{38,131}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,39},{38,131}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,208},{38,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,35},{38,135}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{38,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,34},{38,135}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>addh-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{38,139}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{38,139}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blood_return.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edf23119c6e573118583ea2db5d2e71d$</string>
            <key>textureFileName</key>
            <string>blood_return.png</string>
        </dict>
    </dict>
</plist>
