<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caster_11_10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,452},{54,66}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,197},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,352},{24,20}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,208},{24,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,468},{54,20}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,202},{54,20}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,154},{46,48}}</string>
                <key>offset</key>
                <string>{-21,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,204},{46,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,174},{230,144}}</string>
                <key>offset</key>
                <string>{49,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,72},{230,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,442},{72,54}}</string>
                <key>offset</key>
                <string>{43,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,174},{72,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,326},{24,24}}</string>
                <key>offset</key>
                <string>{33,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,185},{24,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,432},{40,70}}</string>
                <key>offset</key>
                <string>{36,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,193},{40,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,516},{62,58}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,207},{62,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,442},{22,18}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,215},{22,18}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,316},{88,22}}</string>
                <key>offset</key>
                <string>{-31,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,197},{88,22}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,274},{50,24}}</string>
                <key>offset</key>
                <string>{-73,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,195},{50,24}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,166},{242,156}}</string>
                <key>offset</key>
                <string>{90,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,114},{242,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,226},{106,88}}</string>
                <key>offset</key>
                <string>{105,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,186},{106,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,360},{42,36}}</string>
                <key>offset</key>
                <string>{81,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,204},{42,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_20_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,580},{104,88}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,203},{104,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,468},{54,38}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,218},{54,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,204},{46,32}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,210},{46,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,400},{70,52}}</string>
                <key>offset</key>
                <string>{-50,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,167},{70,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{78,64}}</string>
                <key>offset</key>
                <string>{-90,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,137},{78,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{256,162}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,151},{256,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{74,66}}</string>
                <key>offset</key>
                <string>{101,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,246},{74,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,414},{78,72}}</string>
                <key>offset</key>
                <string>{73,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,216},{78,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_30_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{114,88}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,213},{114,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,474},{48,16}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,221},{48,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,474},{48,34}}</string>
                <key>offset</key>
                <string>{-26,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,195},{48,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,374},{22,66}}</string>
                <key>offset</key>
                <string>{-48,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,138},{22,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,320},{78,82}}</string>
                <key>offset</key>
                <string>{-51,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,100},{78,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{150,212}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,143},{150,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{66,86}}</string>
                <key>offset</key>
                <string>{52,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,266},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,390},{76,78}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,233},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_40_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,320},{84,68}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,216},{84,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,166},{28,12}}</string>
                <key>offset</key>
                <string>{-29,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,212},{28,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,332},{26,44}}</string>
                <key>offset</key>
                <string>{-25,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,181},{26,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{56,62}}</string>
                <key>offset</key>
                <string>{-9,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,133},{56,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,490},{88,92}}</string>
                <key>offset</key>
                <string>{18,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,90},{88,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,154},{172,238}}</string>
                <key>offset</key>
                <string>{-89,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,110},{172,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,324},{114,112}}</string>
                <key>offset</key>
                <string>{-40,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,254},{114,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,564},{58,76}}</string>
                <key>offset</key>
                <string>{-38,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,237},{58,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_50_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,508},{36,54}}</string>
                <key>offset</key>
                <string>{-40,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,213},{36,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,510},{42,14}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,203},{42,14}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,400},{50,56}}</string>
                <key>offset</key>
                <string>{-15,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,169},{50,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,238},{92,44}}</string>
                <key>offset</key>
                <string>{27,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,144},{92,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,316},{96,96}}</string>
                <key>offset</key>
                <string>{73,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,107},{96,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,222}}</string>
                <key>offset</key>
                <string>{-80,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,71},{280,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,394},{126,116}}</string>
                <key>offset</key>
                <string>{-104,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,225},{126,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,406},{22,34}}</string>
                <key>offset</key>
                <string>{-74,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,229},{22,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_60_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{100,80}}</string>
                <key>offset</key>
                <string>{-32,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,174},{100,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,174},{58,26}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,203},{58,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,454},{66,68}}</string>
                <key>offset</key>
                <string>{9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,163},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,400},{72,30}}</string>
                <key>offset</key>
                <string>{47,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,169},{72,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,398},{90,92}}</string>
                <key>offset</key>
                <string>{88,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,143},{90,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{258,170}}</string>
                <key>offset</key>
                <string>{-41,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,55},{258,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,512},{100,116}}</string>
                <key>offset</key>
                <string>{-102,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,175},{100,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,234},{38,26}}</string>
                <key>offset</key>
                <string>{-72,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,203},{38,26}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_70_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,440},{110,84}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,164},{110,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,348},{50,56}}</string>
                <key>offset</key>
                <string>{24,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,194},{50,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,290},{56,56}}</string>
                <key>offset</key>
                <string>{25,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,177},{56,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,414},{22,30}}</string>
                <key>offset</key>
                <string>{43,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,187},{22,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,488},{74,76}}</string>
                <key>offset</key>
                <string>{49,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,180},{74,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,324},{120,144}}</string>
                <key>offset</key>
                <string>{28,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,64},{120,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,320},{60,78}}</string>
                <key>offset</key>
                <string>{-48,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,156},{60,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,520},{50,38}}</string>
                <key>offset</key>
                <string>{-30,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,176},{50,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>caster_11_80_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{76,70}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,176},{76,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caster_11.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53cf150fec50c25ffd23c59e8bd82d8a$</string>
            <key>textureFileName</key>
            <string>caster_11.png</string>
        </dict>
    </dict>
</plist>
