<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_13_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,954},{52,210}}</string>
                <key>offset</key>
                <string>{-9,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,57},{52,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,806},{146,242}}</string>
                <key>offset</key>
                <string>{21,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,63},{146,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{166,314}}</string>
                <key>offset</key>
                <string>{22,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,58},{166,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,434},{186,320}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,54},{186,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,622},{188,314}}</string>
                <key>offset</key>
                <string>{22,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,59},{188,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,370}}</string>
                <key>offset</key>
                <string>{23,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,8},{208,370}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,562},{242,316}}</string>
                <key>offset</key>
                <string>{26,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,32},{242,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{254,268}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,94},{254,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,258},{322,302}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,88},{322,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{336,222}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,172},{336,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,218},{342,214}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,178},{342,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{350,214}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,185},{350,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{344,214}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,187},{344,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,812},{212,142}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,203},{212,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,956},{200,102}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,225},{200,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1060},{180,100}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,227},{180,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1162},{172,88}}</string>
                <key>offset</key>
                <string>{20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,230},{172,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,820},{178,106}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,231},{178,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,806},{190,106}}</string>
                <key>offset</key>
                <string>{18,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,234},{190,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,812},{182,106}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,233},{182,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,998},{170,104}}</string>
                <key>offset</key>
                <string>{26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,235},{170,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{166,104}}</string>
                <key>offset</key>
                <string>{26,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,234},{166,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{162,104}}</string>
                <key>offset</key>
                <string>{25,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,234},{162,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1000},{162,106}}</string>
                <key>offset</key>
                <string>{25,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,234},{162,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,996},{186,104}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,236},{186,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{206,94}}</string>
                <key>offset</key>
                <string>{23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,242},{206,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_13_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{204,92}}</string>
                <key>offset</key>
                <string>{22,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,243},{204,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion_13.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c60e73730780fecd51c62174b3122e$</string>
            <key>textureFileName</key>
            <string>explosion_13.png</string>
        </dict>
    </dict>
</plist>
