<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_14_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{90,100}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,199},{90,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1566},{302,234}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,147},{302,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1746},{298,222}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,155},{298,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,642},{328,222}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,150},{328,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,218},{332,212}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,159},{332,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{332,214}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,160},{332,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,482},{330,200}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,167},{330,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,432},{330,208}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,160},{330,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{320,216}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,152},{320,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,866},{322,230}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,145},{322,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{320,228}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,143},{320,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,684},{326,226}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,143},{326,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1324},{314,240}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,142},{314,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{306,242}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,140},{306,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1746},{302,242}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,139},{302,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{298,238}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,139},{298,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{328,232}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,140},{328,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,276}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,95},{332,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,244}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,130},{332,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,248},{330,232}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,135},{330,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{330,226}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,142},{330,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1098},{320,224}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,144},{320,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,912},{322,226}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,149},{322,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1140},{320,218}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,153},{320,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{326,208}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,161},{326,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1360},{314,194}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,181},{314,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1556},{304,188}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,183},{304,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1644},{98,114}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,184},{98,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_14_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{90,100}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,199},{90,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion_14.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67aa38ee42dcbc5b4cd735f09472714f$</string>
            <key>textureFileName</key>
            <string>explosion_14.png</string>
        </dict>
    </dict>
</plist>
