<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_15_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1090},{208,240}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,88},{208,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,998},{202,256}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,98},{202,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,766},{204,258}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,96},{204,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,806},{190,264}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,90},{190,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,764},{204,258}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,96},{204,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,808},{218,256}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,98},{218,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,514},{248,260}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,94},{248,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,826},{262,266}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,88},{262,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,796},{250,270}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,84},{250,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{262,264}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,90},{262,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,280},{278,264}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,90},{278,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,522},{272,276}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,79},{272,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{260,282}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,82},{260,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,282},{260,278}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,92},{260,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{260,276}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,93},{260,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,274},{276,278}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,89},{276,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,280}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,87},{292,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{284,284}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,89},{284,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{280,270}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,95},{280,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{280,276}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,89},{280,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{278,280}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,85},{278,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,282},{270,284}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,80},{270,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{260,280}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,83},{260,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,544},{260,272}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,92},{260,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,546},{260,264}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,92},{260,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,554},{276,270}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,89},{276,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,278}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,72},{292,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{284,258}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,75},{284,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,264},{280,248}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,74},{280,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,288},{278,232}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,76},{278,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,552},{258,212}}</string>
                <key>offset</key>
                <string>{-5,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,74},{258,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_15_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1048},{250,188}}</string>
                <key>offset</key>
                <string>{-2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,75},{250,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion_15.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:315b6b8310a1c545ec3e20dfc5cdc543$</string>
            <key>textureFileName</key>
            <string>explosion_15.png</string>
        </dict>
    </dict>
</plist>
