<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_16_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{98,182}}</string>
                <key>offset</key>
                <string>{11,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,0},{98,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,252},{106,282}}</string>
                <key>offset</key>
                <string>{11,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,18},{106,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{92,306}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,102},{92,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,256},{84,166}}</string>
                <key>offset</key>
                <string>{13,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,250},{84,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,482},{90,98}}</string>
                <key>offset</key>
                <string>{3,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,320},{90,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,360},{120,90}}</string>
                <key>offset</key>
                <string>{7,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,335},{120,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,570},{134,100}}</string>
                <key>offset</key>
                <string>{7,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,326},{134,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,798},{140,112}}</string>
                <key>offset</key>
                <string>{4,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,317},{140,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,628},{146,120}}</string>
                <key>offset</key>
                <string>{1,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,312},{146,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,326},{156,114}}</string>
                <key>offset</key>
                <string>{-4,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,320},{156,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,484},{152,114}}</string>
                <key>offset</key>
                <string>{4,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,320},{152,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{146,110}}</string>
                <key>offset</key>
                <string>{1,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,324},{146,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,562},{148,114}}</string>
                <key>offset</key>
                <string>{2,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,320},{148,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,498},{150,128}}</string>
                <key>offset</key>
                <string>{4,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,306},{150,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{144,126}}</string>
                <key>offset</key>
                <string>{2,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,308},{144,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,342},{154,156}}</string>
                <key>offset</key>
                <string>{0,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,288},{154,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,360},{200,200}}</string>
                <key>offset</key>
                <string>{3,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,264},{200,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,326},{248,242}}</string>
                <key>offset</key>
                <string>{7,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,237},{248,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,96},{296,228}}</string>
                <key>offset</key>
                <string>{11,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,220},{296,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{322,248}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,200},{322,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,252}}</string>
                <key>offset</key>
                <string>{-3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,196},{370,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{202,116}}</string>
                <key>offset</key>
                <string>{-1,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,332},{202,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{202,116}}</string>
                <key>offset</key>
                <string>{-1,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,332},{202,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>explosion_16_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{202,92}}</string>
                <key>offset</key>
                <string>{-1,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,349},{202,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion_16.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fefe51e2ea66a81611152fb1e7e0288$</string>
            <key>textureFileName</key>
            <string>explosion_16.png</string>
        </dict>
    </dict>
</plist>
